@inherits LayoutComponentBase
@using System
@using System.Net.Http
@page "/"
@inject HttpClient Http

<div>
    <h1>
        @helloWorld
    </h1>

    @data2

    @data

    @*@foreach (var products in data)
        {
            <table>
                <tr>
                    <td>@products.Id</td>
                    <td>@products.TemperatureC</td>
                    <td>@products.TemperatureF</td>
                    <td>@products.Summary</td>
                </tr>
            </table>
        }*@
</div>

@code {
    string helloWorld = "Hello, World! C#";


    private string data;
    private string data2;
    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(Http.BaseAddress);
        this.data = await Http.GetStringAsync("/api/products");
        this.data2 = await Http.GetStringAsync("/db/hello");

        StateHasChanged();
    }
}